@model Visea_Expense_Manager.Data.MvcNoteContext

@{
    ViewData["Title"] = "Create";
}

<h1>Crée des nouveaux type d'évenement</h1>

<h4>Nommer votre nouvel événement puis sélectionner le parent, si cet événement n'a pas de parent ne rien sélectionner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Titre du nouvel élément</label>
                <input name="Titre" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Type d'événement</label>
                <select name="Type" id="Item1_Type_Id" class="form-control">
                </select>
            </div>

            <div hidden id="client_formation" class="form-group">
                <label hidden id="formationlabel" class="control-label">Type de la formation </label>
                <label hidden id="clientlabel" class="control-label">Client </label>
                <select name="Classe_Id" id="Item1_Classe_Id" class="form-control">
                </select>
            </div>

            <div hidden id="missionoutypeformation" class="form-group">
                <label class="control-label">Mission</label>
                <select name="Classe2_Id" id="Item1_Classe2_Id" class="form-control">
                </select>
            </div>
            <div hidden id="type_mission" class="form-group">
                <label class="control-label">Objet</label>
                <select name="Classe3_Id" id="Item1_Classe3_Id" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a style="margin-top:6px" class="btn btn-primary" asp-controller="Profile" asp-action="Index"> Profil </a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
            $(function () {
                json = '@Json.Serialize(Model.TypeEvent.OrderBy(user => user.Name))';
                var list = JSON.parse(json);
                m = "<option value=\"\">--Please choose an option--</option>";
                for (i = 0; i < list.length; i += 1) {
                    m +=  '<option value=' + list[i].name + '>' + list[i].name + '</option>';
                }
                document.getElementById('Item1_Type_Id').innerHTML = m;
            });
             $('#Item1_Type_Id').on("change", function (e) {
            //if ($(this).val() == 1 || $(this).val() == 2) {
            if ($(this).val() == "Clientèle" || $(this).val() == "Formation") {
                var json;
                if ($(this).val() == "Clientèle" ) {
                    json = '@Json.Serialize(Model.Client.OrderBy(user => user.Name))';
                    document.getElementById('clientlabel').hidden = false;
                    document.getElementById('formationlabel').hidden = true;
                }
                else {
                    json = '@Json.Serialize(Model.Formation.OrderBy(user => user.Name))';
                    document.getElementById('clientlabel').hidden = true;
                    document.getElementById('formationlabel').hidden = false;
                }
                var list = JSON.parse(json);

                console.log(list);
                m = "<option value=0>--Please choose an option--</option>";
                for (i = 0; i < list.length; i += 1) {
                    m +=  '<option value=' + list[i].id + '>' + list[i].name + '</option>';
                }
                document.getElementById('Item1_Classe_Id').innerHTML = m;
                document.getElementById('client_formation').hidden = false;
                hidden_Groupe_Classe(2);
            }
            else {
                hidden_Groupe_Classe(1);
            }
        });
        $('#Item1_Classe_Id').on("change", function (e) {
            if (($('#Item1_Type_Id').val() == "Clientèle" ) && $(this).val() > 0) {
                var json;

                json = '@Json.Serialize(Model.Mission.OrderBy(user => user.Name))';
                
                var list = JSON.parse(json);
                console.log(list);
                m = "<option value=0>--Please choose an option--</option>";
                for (i = 0; i < list.length; i += 1) {
                    if ($('#Item1_Type_Id').val() == "Clientèle" && $('#Item1_Classe_Id').val() != list[i].client_Id)
                        continue;
                    m +=  '<option value=' + list[i].id + '>' + list[i].name + '</option>';
                }
                document.getElementById('Item1_Classe2_Id').innerHTML = m;
                document.getElementById('missionoutypeformation').hidden = false;
                hidden_Groupe_Classe(3);
            }
            else {
                hidden_Groupe_Classe(2);
            }

        });
        $('#Item1_Classe2_Id').on("change", function (e) {
            if ($('#Item1_Type_Id').val() == "Clientèle"  && $(this).val() > 0) {
                var json = '@Json.Serialize(Model.Type_Mission.OrderBy(user => user.Name))';
                var list = JSON.parse(json);
                console.log(list);
                m = "<option value=0>--Please choose an option--</option>";
                for (i = 0; i < list.length; i += 1) {
                    if ($('#Item1_Classe2_Id').val() != list[i].mission_Id)
                        continue;
                    m += '<option value=' + list[i].id + '>' + list[i].name + '</option>';
                }
                document.getElementById('Item1_Classe3_Id').innerHTML = m;
                document.getElementById('type_mission').hidden = false;
                hidden_Groupe_Classe(4);
            }
            else {
                hidden_Groupe_Classe(3);
            }

        });
        $('#Item1_Classe3_Id').on("change", function (e) {
            hidden_Groupe_Classe(4);
            if ($('#Item1_Type_Id').val() == "Clientèle"  && $(this).val() > 0 ) {
                var json = '@Json.Serialize(Model.Etape_Mission.OrderBy(user => user.Name))';
                var list = JSON.parse(json);
                console.log(list);
                m = "<option value=0>--Please choose an option--</option>";
                for (i = 0; i < list.length; i += 1) {
                    if ($('#Item1_Classe3_Id').val() != list[i].type_Mission_Id)
                        continue;
                    m +=  '<option value=' + list[i].id + '>' + list[i].name + '</option>';
                }
                document.getElementById('Item1_Classe4_Id').innerHTML = m;
                document.getElementById('etape_mission').hidden = false;
            }
            else {
                hidden_Groupe_Classe(4);
            }

        });

    function hidden_Groupe_Classe(type) {
        switch (type) {
            case 1:
                $('#Item1_Classe_Id').val(0);
                document.getElementById('Item1_Classe_Id').innerHTML = "";
                document.getElementById('client_formation').hidden = true;
                document.getElementById('clientlabel').hidden = true;
                document.getElementById('formationlabel').hidden = true;
            case 2:
                $('#Item1_Classe2_Id').val(0);
                document.getElementById('Item1_Classe2_Id').innerHTML = "";
                document.getElementById('missionoutypeformation').hidden = true;
            case 3:
                $('#Item1_Classe3_Id').val(0);
                document.getElementById('Item1_Classe3_Id').innerHTML = "";
                document.getElementById('type_mission').hidden = true;
            case 4:
                $('#Item1_Classe4_Id').val(0);
                document.getElementById('Item1_Classe4_Id').innerHTML = "";
                document.getElementById('etape_mission').hidden = true;
        }
    }
</script>