@model Visea_Expense_Manager.Models.Event

@{
    ViewData["Title"] = "Delete Evénements";
}

<h1>Supprimer</h1>

<h3>Etes-vous sur de vouloir supprimer cet element?</h3>
<div>
    <h4>Événement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Date de creation
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_of_creation)
        </dd>
        <dt class="col-sm-2">
            Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            Formation ou Client
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classe_str)
        </dd>
        <dt class="col-sm-2">
            Mission
          
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classe2_str)
        </dd>
        <dt class="col-sm-2">
            Objet
           
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classe3_str)
        </dd>
        <dt class="col-sm-2">
            Etape de la mission
           
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classe4_str)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
            
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heures)
            
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heures)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.commente)
            
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.commente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour a la liste</a>
    </form>
</div>
